@import '../../../variables';

.relevante-lenker {
    .panel-mixin();
    margin-top: 1.5rem;

    &__ikon {
        margin-right: 1rem;
        max-width: 1.5rem;
    }

    &__lenke-wrapper {
        margin-top: 1rem;
        display: flex;
    }

    &__lenke.ekstern-lenke {
        margin-top: 0.5rem;
    }

    &__lenke-tekst {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    @media (min-width: @screen-sm-min) {
        &__ikon {
            max-width: 100%;
        }

        &__lenke-wrapper {
            margin-top: 2rem;
        }

        &__tittel {
            display: flex;
            align-items: center;
            text-align: center;

            &::before,
            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid @navGra20;
            }
            &::before {
                margin-right: 1.5rem;
                margin-left: 0.5rem;
            }
            &::after {
                margin-right: 0.5rem;
                margin-left: 1.5rem;
            }
        }
    }
}
