@import '../../../../variables';

.data-kan-ikke-vises-panel {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    max-width: 25%;
    &.typo-normal {
        margin-top: 1rem;
    }

    &__ikon {
        margin-right: 1rem;
    }
}
