@import '../variables';

.brødsmulesti {
    .typo-normal-mixin();
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 60rem;
    margin: 0 auto;

    &__lenke {
        .lenke-mixin();
    }

    ol,
    li {
        display: inline;
        margin-left: 0;
        padding-left: 0;
    }
}
