@import '../variables';

.brødsmulesti {
    .typo-normal-mixin();
    padding: 1rem;
    margin: 0 auto;
    background-color: @navLysGra;
    width: 100%;

    &__liste {
        display: none;
    }

    &__lenke {
        .lenke-mixin();
    }

    &__tilbakeknapp {
        max-width: 60rem;
        margin: 0 auto;
    }

    @media (min-width: @screen-sm-min) {
        &__liste {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 60rem;
            margin: 0 auto;

            // overrinding av defaultstyling for lister
            padding-left: 0;
            list-style: none;

            li + li::before {
                content: '/';
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
        &__tilbakeknapp {
            display: none;
        }
    }
}
