@import '../variables';

.brødsmulesti {
    .typo-normal-mixin();
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    background-color: @navLysGra;
    width: 100%;

    &__liste {
        display: flex;
        padding-left: 0;
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
        list-style: none;
    }

    &__divider {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    &__lenke {
        .lenke-mixin();
    }
}
