@import '../variables';

.kalkulator {
    .sideinnhold-mixin();

    &__wrapper {
        background-color: @navLysGra;
        min-height: 50rem;
        padding: 0 1rem 5rem;
    }

    &__tittel {
        padding-bottom: 2rem;
    }

    &__ingress {
        padding-bottom: 2rem;
    }

    &__lesmer-kostnad-dagsverk {
        margin-bottom: 2rem;
    }

    &__lesmer-tapte-dagsverk {
        margin-bottom: 0rem;
    }

    .kalkulator {
        // dobbel selektor pga. overskriving av default-styling
        &__spinner {
            width: 1rem;
            height: 1rem;
            margin-bottom: -0.2rem;
        }
        &__radiogrouplabel {
            margin-bottom: 1rem;
        }
    }

    &__input {
        &.skjemaelement {
            margin-bottom: 0.5rem;
        }
    }

    @media (min-width: @screen-sm-min) {
        display: flex;
        align-items: flex-start;

        &__lesmer-tapte-dagsverk {
            margin-bottom: 0;
        }
    }
}
