{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    //    "@typescript-eslint/switch-exhaustiveness-check": "error"
    "@typescript-eslint/no-redeclare": "error",
    "@typescript-eslint/no-unused-vars": "error"
  },
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ],
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    // typescript-eslint specific options
    "warnOnUnsupportedTypeScriptVersion": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ]
}
