@import '../../variables';

.sammenligningspanel {
    margin-top: 1.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__overskrift {
        margin-bottom: 2rem;
    }

    &__feilmelding {
        margin-top: 1.5rem;
    }

    @media (min-width: @screen-sm-min) {
        padding: 2rem;
    }
}
