@import '../../variables';

.slik-har-vi-kommet-fram-til-ditt-resultat {
    margin-bottom: 1rem;
    margin-top: 0.5rem;

    @media print {
        display: none;
    }

    &__innhold {
        padding-top: 1rem;
        border-top: 1px solid @navLysGra;
        margin-top: 1rem;
        max-width: 40rem;
        padding-bottom: 1rem;
    }

    &__margin-bottom_075rem {
        margin-bottom: 0.75rem;
    }
}
