@import '../../variables';

.ikke-innlogget-side {
    max-width: 40rem;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 1.5rem 1.5rem;

    &__wrapper {
        background: white;
        min-height: 100vh;
        padding-bottom: 5rem;
    }

    &__illustrasjon {
        margin-bottom: 3rem;
    }

    &__sidetittel {
        margin-bottom: 3rem;
    }

    &__overskrift {
        margin-bottom: 1.5rem;
    }

    &__loginKnapp-wrapper {
        margin-top: 1.5rem;
    }

    &__lenke {
        display: block;
        margin-bottom: 1.5rem;
    }

    @media (min-width: @screen-sm-min) {
        padding: 6.5rem;
    }
}
