@import '../../variables';

.graf-legend {
  display: flex;
  justify-content: space-between;

  // overrinding av defaultstyling for lister
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  &__listeelement {
    .typo-element-mixin();
    fill: @navMorkGra;
    display: flex;
    align-items: center;
    max-width: 25%;
  }
}
