@import '../variables';

.forside {
    max-width: 60rem;
    margin: 2rem auto 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    @media (min-width: @screen-sm-min) {
        padding: 0;
    }
}
