@import '../variables';

.forside {
    max-width: 60rem;
    margin: 0 auto 0;

    &__wrapper {
        background-color: @navLysGra;
        min-height: 50rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
