@import '../variables';

.forside {
    max-width: 60rem;
    padding-top: 2rem;
    margin: 0 auto 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    &__wrapper {
        background-color: @navLysGra;
        min-height: 50rem;
        padding-bottom: 5rem;
    }
}
