.forside {
    max-width: 60rem;
    margin: 0 auto 0;

    display: flex;
    flex-wrap: wrap;
}
.forside__wrapper {
    background-color: var(--a-gray-100);
    min-height: 50rem;
    padding: 1.5rem 1rem 5rem;
}

.forside__innhold {
    background: white;
    padding: 2rem 1.5rem;
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
}

.forside__innhold__kun-print {
    display: none;
}

.forside__innhold__info-eller-feilmelding {
    width: 100%;
    margin-bottom: 1.5rem;
}

.forside__innhold__info_om_oppdateringer {
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
}

.forside__innhold__knapp {
    display: none;
}

.forside__innhold__header {
    display: block;
}

.forside__innhold__href {
    display: none;
}

@media print, (min-width: 768px) {
    .forside__innhold {
        padding: 2rem;
    }

    .forside__innhold__knapp {
        display: block;
        position: absolute;
        right: 2rem;
    }
}

@media print {
    .forside__innhold__kun-print {
        display: block;
        page-break-before: always;
    }
    .forside__innhold__knapp {
        display: none;
    }

    .forside__innhold__info-eller-feilmelding {
        display: none;
    }

    .forside__innhold__href {
        display: block;
        padding-bottom: 1rem;
    }
}

.lenkepanelWrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0 1rem 0;

}
@media (min-width: 768px) {
    .lenkepanelWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
