@import '../../variables';

.historikkpanel {
    .panel-mixin();

    &__overskrift {
        .panel-overskrift-med-logo-mixin();
    }
    &__ingress {
        padding-bottom: 1rem;
    }
    &__lenke {
        .typo-normal-mixin();
        .lenke-mixin();
    }
    &__illustrasjon {
        margin-bottom: 1rem;
    }

    @media (min-width: @screen-sm-min) {
        flex-direction: row;
        width: calc(50% - 0.75rem);

        &__illustrasjon {
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }
}
