.tooltip__item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip__item-navn-og-verdi {
    font-size: 1rem;
    color: var(--a-gray-900);
    align-content: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.25rem;
}

.tooltip__item-navn {
    font-weight: bold;
    color: var(--a-gray-900);
    margin-right: 0.75rem;
}

.tooltip__item-verdi {
    color: var(--a-gray-900);
    align-content: space-around;
}

.tooltip__ikon {
    margin-right: 0.5rem;
}