.sammenligning-ingress {
  &__tittel {
    padding-bottom: 1rem;
  }
  &__koronainfo {
    padding-bottom: 1rem;
  }
  &__utregningsinfo {
    margin-top: 1rem;
  }
  &__utregningsinfo-innhold {
    margin-top: 1rem;
  }
}
