@import '../../variables';

.graf-tabell {
    background: white;
    border-top: 1px solid @navMorkGra;

    th {
        vertical-align: text-top;
    }

    &__årstall,
    &__kvartal {
        max-width: 1rem;
    }

    &__wrapper {
        padding: 2rem;
    }
}
