@import '../../variables';

.graf-tabell {
    background: white;
    margin: 2rem;
    th {
        vertical-align: text-top;
    }

    &__årstall,
    &__kvartal {
        max-width: 1rem;
    }
}
