@import '../../../variables';

.ekspanderbart-sammenligningspanel {
    margin-top: 2rem;

    &__loading-skeleton {
        margin-top: 2rem;
    }

    &__feil {
        margin-top: 2rem;
    }

    &__tittel-wrapper {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }

    &__forklaring-av-vurdering {
        margin-top: 2.5rem;
    }

    &__panel {
        border: 1px solid black;
    }

    &__bilde {
        margin-top: -0.25rem;
        margin-right: 0.75rem;
    }

    &__tips-tittel {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid @navLysGra;
    }

    &__tips {
        margin-top: 2rem;
    }

    @media print, (min-width: @screen-sm-min) {
        &__tittel-wrapper {
            flex-direction: row;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &__tittel {
            padding-left: 1rem;
        }

        .ekspanderbartPanel__innhold {
            padding-bottom: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
        }

        &__metadata-og-detaljert-visning-sykefravær {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 3rem;
            padding-top: 2rem;
        }
    }

    &__print-innhold {
        display: none;
    }

    @media print {
        &__print-innhold {
            display: block;
        }
        &__innhold {
            display: none;
        }
    }
}
