.lærte-du-noe-nytt-panel {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    &__overskrift {
        margin-bottom: 1rem;
    }

    &__takk {
        margin-bottom: 3.25rem;
    }
    
    &__knapp-wrapper {
        width: 100%;
        margin-top: 0.75rem;
        flex-direction: row;
    }

    &__knapp {
        margin: 0.5rem;
    }

}
