.bransje-sammenligningspanel {
    margin-top: 2rem;
}

.bransje-sammenligningspanel__extra-padding-desktop {
    padding: 0;
}

.bransje-sammenligningspanel__gradert_intro {
    margin-top: 2rem;
}

.bransje-sammenligningspanel__loading-skeleton {
    margin-top: 2rem;
}

.bransje-sammenligningspanel__feil {
    margin-top: 2rem;
}

.bransje-sammenligningspanel__tittel-wrapper {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.bransje-sammenligningspanel__tittel {
    padding-bottom: 0.5rem;
}

.bransje-sammenligningspanel__tittel-forklaring {
    padding-top: 0.25rem;
}

.bransje-sammenligningspanel__forklaring-av-vurdering {
    margin-top: 2rem;
}

@media print, (min-width: 768px) {
    .bransje-sammenligningspanel__tittel-wrapper {
        flex-direction: row;
    }

    .bransje-sammenligningspanel__extra-padding-desktop {
        padding: 1rem;
    }

    .bransje-sammenligningspanel__tittel-tekst {
        margin-left: 1.5rem;
    }

    .bransje-sammenligningspanel__forklaring-av-periode {
        flex-grow: 2;
    }

    .ekspanderbartPanel__innhold {
        padding-bottom: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .bransje-sammenligningspanel__kakediagram {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .bransje-sammenligningspanel__lukk-knapp {
        margin-top: 3rem;
    }
}

.bransje-sammenligningspanel__wrapper {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 2rem;
}


.bransje-sammenligningspanel__print-innhold {
    display: none;
}

@media print {
    .bransje-sammenligningspanel__print-innhold {
        display: block;
    }

    .bransje-sammenligningspanel__innhold {
        display: none;
    }
}
