@import '../variables';

.csv-download-link {
  float: right;
}

.graf-og-tabell {
  &__info-eller-feilmelding {
    width: 100%;
    margin: 0 auto 1.5rem;
    max-width: 60rem;
  }

  &__wrapper {
    width: 100%;
    background-color: white;
    min-height: 50rem;
    padding: 2rem 0;
  }

  &__overdel-wrapper {
    padding: 2rem 0 0;
  }

  &__ingress {
    max-width: 40rem;
  }

  &__endring-i-sykefraværsstatistikken {
    padding: 1rem;
  }

  &__innhold {
    margin-top: 1rem;
    overflow: hidden;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &__feilside {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  &__toggle-group {
    height: fit-content;
    align-self: end;
  }

  @media (min-width: @screen-sm-min) {
    &__wrapper {
      padding: 2rem 0;
    }

    &__overdel-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__tekst-wrapper {
      max-width: 70%;
    }

    &__innhold {
      width: 100%;
    }
  }

  @media print {
    display: none;
  }
}
