@import '../../variables';

.recharts-cartesian-axis-tick-value {
    .typo-element-mixin();
    fill: @navMorkGra;
}

.recharts-yAxis,
.recharts-xAxis {
    stroke: @navMorkGra;
    stroke-width: 2px;
}
