@import '../../variables';

.tips-visning {
    margin-top: 3rem; // TODO fjern

    &__tittel {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    &__tidsbruk {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    @media (min-width: @screen-sm-min) {
        display: flex;

        &__tekst-wrapper {
            margin-left: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }


        &__tittel {
            padding-top: 0;
        }
    }
}
