@import '../../variables';

.legemeldtsykefravarpanel {
  margin-top: 1.5rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__tekst-wrapper {
  }

  &__overskrift {
    margin-bottom: 2rem;
  }
}