/*
---------------
FARGER
---------------
*/

@navMorkGra: #262626;
@navLysGra: #f1f1f1;

@navLysBlaLighten80: #d8f9ff;
@navLysBlaLighten60: #b5f1ff;

@navBlaLighten80: #cce1ff;
@navBlaLighten60: #99c3ff;

/*
---------------
BREKKPUNKTER
---------------
*/

// Small screen / tablet
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
// ** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet: @screen-sm-min;

// Medium screen / desktop
@screen-md: 992px;
@screen-md-min: @screen-md;
// ** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop: @screen-md-min;

// Large screen / wide desktop
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
