@import '../../../variables';

.kurs-for-barnehager {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.panel {
        padding: 2rem 1.5rem;
    }

    &__tittel-wrapper {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        img {
            margin-right: 1rem;
            width: 27px;
            height: 25px;
        }
    }

    @media (min-width: @screen-sm-min) {
        &__tittel-wrapper {
            margin-top: 0;
            margin-bottom: 0;
            img {
                width: 54px;
                height: 49px;
            }
        }
    }
}
