@import '../../../variables';

.graf-legend {
    // overrinding av defaultstyling for lister
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -2rem;

    &__listeelement {
        fill: @navMorkGra;
        display: flex;
        align-items: center;

        + .graf-legend__listeelement {
            margin-top: 0.5rem;
        }
    }

    &__ikon {
        margin-right: 1rem;
    }

    @media (min-width: 500px) {
        margin-left: -4.25rem;
    }
}
