name: Build and deploy master

on: [push]

env:
    IMAGE: docker.pkg.github.com/${{ github.repository }}/sykefravarsstatistikk:${{ github.sha }}

jobs:
    compile-test-and-build:
        name: Build and run tests
        runs-on: Ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14.x'
            - uses: actions/cache@v2
              with:
                  path: ./node_modules
                  key: ${{ runner.os }}-node-cache-${{ hashFiles('yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-node-cache-
            - name: Install dependencies
              run: |
                  yarn install --frozen-lockfile
            - name: Run tests
              run: yarn test
            - name: Build application
              run: |
                  yarn run build
            - name: Build tag and push Docker container
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  docker build . -t ${IMAGE}
                  echo ${GITHUB_TOKEN} | docker login docker.pkg.github.com -u ${GITHUB_REPOSITORY} --password-stdin
                  echo ${IMAGE}
                  docker push ${IMAGE}

    deploy-to-dev:
        name: Deploy to dev-sbs
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/sende-orgnr-til-podlet'
        needs: compile-test-and-build
        runs-on: Ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-sbs
                  VAR: version=${{ env.IMAGE }}
                  RESOURCE: nais/dev-sbs.yaml
                  PRINT_PAYLOAD: true
    deploy-to-labs-gcp:
        name: Deploy to labs-gcp
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/sende-orgnr-til-podlet'
        needs: compile-test-and-build
        runs-on: Ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: labs-gcp
                  VAR: version=${{ env.IMAGE }}
                  RESOURCE: nais/labs-gcp.yaml
                  PRINT_PAYLOAD: true

    deploy-to-prod:
        name: Deploy to prod-sbs
        if: github.ref == 'refs/heads/master'
        needs: compile-test-and-build
        runs-on: Ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: prod-sbs
                  VAR: version=${{ env.IMAGE }}
                  RESOURCE: nais/prod-sbs.yaml
                  PRINT_PAYLOAD: true

    deploy-alert-to-prod:
        name: Deploy alert to prod
        if: github.ref == 'refs/heads/master'
        needs: compile-test-and-build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: prod-sbs
                  RESOURCE: nais/alerterator.yaml
